@font-face {
  font-family: 'uni ul';
  src: url("/fonts/sf-pro-display-ultralight.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: 'uni t';
  src: url("/fonts/sf-pro-display-thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: 'uni l';
  src: url("/fonts/sf-pro-display-light.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: 'uni';
  src: url("/fonts/sf-pro-display-regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'uni m';
  src: url("/fonts/sf-pro-display-medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'uni sb';
  src: url("/fonts/sf-pro-display-semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: 'uni b';
  src: url("/fonts/sf-pro-display-bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'cur';
  src: url("/fonts/fasthand-regular.woff2") format("woff2");
  font-weight: normal;
}