// defaults
$default_bg: #000;
$default_color: #fff;

// universal heading
$uni_head_heading: #1a1a1ae7;
$uni_head_sub_text: #fff;

// section 0 - hero
$sec0_name_bg: linear-gradient(-61deg, #ffffff 22%, #362a35 24%, #8b76a2 25%, #a083c7 27%, #fff 30%);
$sec0_color: #e7e7e7;