@use "./variables";
@use "./fonts";

.section_1 {
  // border: 1px solid white;
  min-height: 100vh;
  width: 100%;
  margin-top: 20vh;
  padding-bottom: 25vh;
  position: relative;

  @media (max-width: 576px) {
    margin-top: 10vh;
    padding-bottom: 20vh;
    // padding-bottom: 5vh;
  }

  @media (max-width: 576px) {}

  .section_1__cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section_1__cont__part_a {
      // border: 1px solid white;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .section_1__cont__cards {
        position: relative;
        z-index: 2;

        .section_1__cont__cards__cont {
          display: flex;
          flex-direction: column;
          gap: 60px;
          padding: 60px;
          padding-bottom: 15vh;
          z-index: 2;

          @media (max-width: 576px) {
            align-items: center;
            padding: 0;
          }
        }
      }
    }
  }
}

.section_0__cont__skeleton {
  position: absolute;
  top: -20vh;
  left: 300px;
  z-index: 2;

  @media (max-width: 576px) {
    align-items: center;
    padding: 0;
    top: -10vh;
    left: 0;
  }
}