@use "./variables";
@use "./fonts";

.section_3 {
  height: 70vh;
  width: 100%;

  .section_3__cont {
    height: 100%;
    width: 100%;
    background: url("../../../public/bg_img/piano_bg.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .section_3__cont__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
      height: 100%;
      width: 100%;
      padding-inline: 10%;

      @media (max-width: 576px) {
        margin-top: -15%;
        gap: 1rem;
        padding-inline: 6%;
      }

      p {
        color: #e0e0e0;
        font-family: "uni l";
        font-size: 2rem;
        text-align: center;

        @media (max-width: 576px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}